:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main{
  padding: 20px;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
img{
  margin-top: 30px;
  margin-bottom: 30px;
  
}
h1 {
  font-size: 50px;
}

ul{
  margin-left: 25px;
  width: 400px;
}

.nav-list{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  margin-top: 30px;
  margin-right: 40px;
}